/*--------Nav--------*/
.navbar {
  background: rgba(255, 255, 255, 0.315) !important;
  /* Give transparent white background to navbar */
  /* 0.2 to give little whitish effect. */
  /* Put 0 to get complete transperency */
  z-index: 2;
  backdrop-filter: blur(10px) saturate(125%);
  /* Blur the background */
  /* 10px Gaussian Blur and saturate for fluent design */
  -webkit-backdrop-filter: blur(10px) saturate(125%);
  overflow: hidden;
  /* Increases browser compability (safari ios and mac) */
}

.navbar-toggler {
  border-color: #5d8684;
}
.nav-item {
  font-family: 'Kodchasan', sans-serif;
}
/*--------Home Jumbotron--------*/
#jumbocontainer {}

.jumbotron {
  background-image: url("images/006\ Angie\ Sierra-2v.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  overflow: hidden;
}

.full-width-image {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  overflow: hidden;
}

.jumbotron .container {
  position: relative;
  padding-top: 5%;

}
.full-width-image img {
  width: 100%;
  overflow: hidden;
}

.jumbotitle {
  font-family: 'Kodchasan', sans-serif;
  font-weight: '500';
  color: #75aaa7;
  display: block;
  margin-bottom: 80%;
  text-align: left;
  margin-top: .5em;
}

.words {
  margin-bottom: 20%;
  padding: 5%;
  background-color: #00000063;
  color: #9dd1cd;
  font-family: 'KoHo', sans-serif;
}


#bio {
  /*padding-left: 23%;
  padding-top: 5%;*/

  padding-top: 5%;
  padding-left: 15%;

}

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
  overflow: hidden;
}

/*--------Services--------*/

#services {
  background-color: #9dd1cd;
  overflow-x: hidden
}

.title,
.subhead,
.underneath {
  text-align: center;
  overflow: hidden;
}
.title {
  font-family: 'Kodchasan', sans-serif;
  font-weight: '500';
  color: white;
  margin-top: .5em;
  overflow: hidden;
  overflow-x: hidden
}

.subhead {
  font-family: 'Kodchasan', sans-serif;
  font-weight: '400';
  color: white;
  margin-top: .5em;
}

.service-title {
  font-family: 'Kodchasan', sans-serif;
  font-weight: '400';
  color: white;
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center;
}

.underneath {
  font-family: 'Kodchasan', sans-serif;
  font-weight: '200';
  color: rgba(255, 255, 255, 0.767);
  margin-bottom: 1em;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  margin-top: 20px;
}

.serviceimg {
  height: 250px;
  overflow: hidden;
  overflow-x: hidden
}

#beg {
  margin-bottom: 4.65em;
}

#servicesinv,
#eventsinv,
#taichiinv {
  margin-bottom: 10px;
}

.servicetext {
  font-family: 'KoHo', sans-serif;
}

#reikidesc {
  margin-top: 1em;
  margin-bottom: 2em;
}

.col-lg-4 {
  text-align: center;
  overflow-x: hidden
}


.address {
  font-family: 'KoHo', sans-serif;
  text-align: left;
  font-size: large;
}

.time {
  font-family: 'KoHo', sans-serif;
  font-weight: 500;
  margin-top: 1.5em;
  font-size: x-large;
}
.servicedesc {
  text-align: left;
  font-family: 'KoHo', sans-serif;
  font-size: large;
}
.privserv {
  font-family: 'KoHo', sans-serif;
  font-weight: 600;
  font-size: large;
}

.text-center {
  font-family: 'KoHo', sans-serif;
}
.btn {
  background-color: #CFBBAD;
  border: 2px solid #75aaa7;
  font-family: 'Kodchasan', sans-serif;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.btn:hover {
  background-color: #b6a090;
  border: 2px solid #5d8684;
}


#longbtn {
  margin-top: 2.85em;
}

#events {
  overflow: hidden;
}

/*--------taichi--------*/

#tai {
  background-image: url("images/taichi2964hi5.jpg");
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 150px;
}

/*--------reiki--------*/

#rei {
  background-image: url("images/reiki-2.jpg");
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 220px;
}


.bg-full-2 {
  position: relative;
}



.bg-full-2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100vw;
  background: #75aaa7;
}

/*--------events--------*/
#events {
  background-color: #609491;
  overflow-x: hidden;
}

#contact {
  background-color: #609491;
  overflow-x: hidden;
}

.peopleCarouselImg img {
  width: auto;
  height: 500px;
  max-height: 500px;
}

.carousel-caption {
  position: relative;
  left: 0;
  top: 0;
}
#carouselExampleCaptions {
  margin-bottom: 100px !important;
}


/*#taichi {
  background-image: url("images/taichi2964hi.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}*/

/*--------invisible nav--------*/
.bottom1 {
  position: relative;
}

.bottom2 {
  position: absolute;
  bottom: 20px;
}

.bottom3 {
  position: absolute;
  top: 23px;
}

/*--------Jumbotron texts--------*/
#jumbotitle2 {
  font-family: 'Kodchasan', sans-serif;
  color: white;
  margin-bottom: 20%;
  margin-top: .55em;
}

#jumbowords {
  font-family: 'KoHo', sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.322);
  margin-right: 60%;
}

#jumbotitle3 {
  font-family: 'Kodchasan', sans-serif;
  color: black;
  margin-bottom: 13%;
}

.jumbowords2 {
  font-family: 'KoHo', sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.322);
  margin-left: 60%;
}

/*--------footer--------*/
.footer {
  background-color: #CFBBAD
}

.footeric {
  height: 60px;
  margin: 5px;
}

#footer {
  padding: 2%;
}





#info {
  font-size: larger;
  font-weight: bold;
}
.contactp {
  font-family: 'KoHo', sans-serif;
  font-size: large;
  color: white;
  margin-bottom: 2em;
}

.carousel-caption {
  font-family: 'KoHo', sans-serif;
  font-size: large;
}

.cartext {
  font-family: 'KoHo', sans-serif;
  font-size: large;
  color: white;
  margin-bottom: 10px;
}

.carousel-inner {
  margin-top: 1em;
}

.dlink {
  color: #CFBBAD
}

.dlink:hover {
  color: #9dd1cd;
}

#ytxt {
  margin-top: 1.5em;
  margin-bottom: 2em;
}




/*--------media queries--------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .jumbotron {
    background-image: url("images/006\ Angie\ Sierra-2v-50-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    overflow: hidden;
    background-position: center;
  }

.words {
  margin-bottom: 0;
  padding: 0;
}
  .blocsm { width: 100%; display:block; }

#bio {
  /*padding-left: 15px;*/
  padding: 5%;
  font-size: smaller;
}
.jumbotitle {
  margin-bottom: none;
  margin-top: .5em;
  text-align: center;
}
.words {
  background-color: #00000093;
  color: #9dd1cd;
  font-family: 'KoHo', sans-serif;
}
#jumbowords {
  color: white;
  background-color: rgba(0, 0, 0, 0.322);
  font-size: smaller;
  margin-right: 0;
  margin-top: 55%
}
#jumbotitle2 {
  margin-bottom: none;
  margin-top: 55px;
  text-align: center;
}
#jumbotitle3 {
  margin-bottom: 170px;
margin-top:0;
  text-align: center;
}

.jumbowords2 {
  color: white;
  background-color: rgba(0, 0, 0, 0.322);
  font-size: smaller;
  margin-right: 0;
  margin-left: 0;
}

#tai {
  background-image: url("images/taichi2964hi2-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    overflow: hidden;
    background-position: center;

}

#rei {
  background-image: url("images/reiki-sensations-hands.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    overflow: hidden;
    background-position: center;
}


}





/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (max-width: 1023px) {
  .jumbotron {
    background-image: url("images/006\ Angie\ Sierra-2v-50-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    overflow: hidden;
    background-position: center;
  }
  .blocsm { width: 100%; display:block; }


.jumbotitle {
  margin-bottom: none;
  margin-top: 40%
}

}*/


